<!-- Footer -->
<footer class="bg-body-tertiary text-center text-lg-start">

  <!-- Top Footer Bar -->
  <div style="background-color: #dff0d8; padding: 10px 20px; width: 100%;">
    <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap">
      <a routerLink="/" class="text-success fw-bold fs-2 text-decoration-none m-0">FitZone</a>
      <p class="fw-bold m-0">Get free products, insider access, and exclusive offers!</p>
    </div>
  </div>

  <!-- Grid container -->
  <div class="container py-4">
    <section>
          <style>
    a.text-body {
      text-decoration: none;
      transition: text-decoration 0.3s;
    }

    a.text-body:hover {
      text-decoration: underline;
    }
  </style>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="text-uppercase">About</h5>
          <ul class="list-unstyled">
            <li><a class="text-body" href="#">About Us</a></li>
            <li><a class="text-body" href="#">New! Store Reviews</a></li>
            <li><a class="text-body" href="#">Rewards Program</a></li>
            <li><a class="text-body" href="#">Affiliate Program</a></li>
            <li><a class="text-body" href="#">We Give Back</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="text-uppercase">Company</h5>
          <ul class="list-unstyled">
            <li><a class="text-body" href="#">Corporate</a></li>
            <li><a class="text-body" href="#">Press</a></li>
            <li><a class="text-body" href="#">Partner with iHerb</a></li>
            <li><a class="text-body" href="#">Wellness Hub</a></li>
            <li><a class="text-body" href="#">Accessibility View</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="text-uppercase">Resources</h5>
          <ul class="list-unstyled">
            <li><a class="text-body" href="#">Sales & Offers</a></li>
            <li><a class="text-body" href="#">Store Reviews</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="text-uppercase">Customer Service</h5>
          <ul class="list-unstyled">
            <li><a class="text-body" href="#">Contact Us</a></li>
            <li><a class="text-body" href="#">Suggest a Product</a></li>
            <li><a class="text-body" href="#">Order Status</a></li>
            <li><a class="text-body" href="#">Shipping</a></li>
            <li><a class="text-body" href="#">Communication Preferences</a></li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Newsletter -->
    <div class="border-top pt-4 mt-4">
      <section class="text-center">
        <p class="fw-bold mb-3">Be the first to get promo offers and reward perks straight to your inbox</p>
        <form>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <input type="email" class="form-control mb-2" placeholder="Enter Email Address"/>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-success mb-2">Subscribe</button>
            </div>
             <p class="small text-muted col-md-7 text">
            Your email address will be used to send you Health Newsletters and emails about iHerb’s products,<br>   
             services, sales, and special offers. You can unsubscribe at any time by clicking on the unsubscribe link in each email. For more information on our use of your personal information and your rights, see our Privacy Policy.
            <a href="#">Privacy Policy</a>.
          </p>
          </div>
         
          <p class="small text-muted">
            This site is protected by reCAPTCHA and the Google
            <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a> apply.
          </p>
        </form>
      </section>

      <!-- Social -->
      <section class="text-center fs-4 mt-3">
        <a class="btn btn-outline-secondary btn-floating m-1" href="#"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-secondary btn-floating m-1" href="#"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-secondary btn-floating m-1" href="#"><i class="fab fa-youtube"></i></a>
        <a class="btn btn-outline-secondary btn-floating m-1" href="#"><i class="fab fa-pinterest"></i></a>
        <a class="btn btn-outline-secondary btn-floating m-1" href="#"><i class="fab fa-instagram"></i></a>
      </section>
    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center p-4 bg-light ">
    <p class="small m-2">
    iHerb.com © Copyright 1997-2025 iHerb, LLC. All rights reserved. 
    iHerb® is a registered trademark of iHerb, LLC.
     *Disclaimer: Statements made, or products sold through this website, 
     have not been evaluated by the United States Food and Drug Administration. 
     They are not intended to diagnose, treat, cure or prevent any disease. PLEASE NOTE that iHerb,
      LLC is not affiliated with or in any way or manner related to websites that are not specifically iHerb.com
        iHerb, LLC is not responsible or liable for products sold or shipped from unauthorized sources. Read more »
    </p>
    <p class="small m-0">
      <a class="text-reset fw-bold" href="#">Privacy Policy</a> |
      <a class="text-reset fw-bold" href="#">Terms of Use</a> |
      <a class="text-reset fw-bold" href="#">Accessibility</a>
    </p>
  </div>
</footer>